.character-info-panel {

  .character-alignment {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .character-current-info {
    list-style-type: none;
    padding: 10px;

    li {
      padding: 2px;
      display: flex;
      justify-content: space-between;
    }
  }

  .character-stats {
    list-style-type: none;
    padding: 10px;

    li {
      padding: 2px;
      display: flex;
      justify-content: space-between;
    }
  }
}