.expore-encounter{
  flex 2
  background-color: antiquewhite
  display: flex
  flex-direction: row

  .location-info {
    display: flex
    flex-direction: column
    .location-direction {
      margin: 10px
      text-align: center
      text-transform: capitalize;
    }

    .fps-view {
      width: 200px
      height: 200px
      margin: 10px
      background: linear-gradient(#bbb, #111 40%, #111 60%, #f69d3c)
      position: relative
      overflow: hidden

      .fps-square {
        position: absolute
        &.wall {
          &.side {
            background: linear-gradient(90deg, transparent 0%,#000 200%), url('./images/wall-texture.png');
            background-size: cover;
          }
          background: radial-gradient(transparent 40%,#222 92%), url('./images/wall-texture.png');
          background-size: cover;
        }
        &.door {
          &.side {
            background: linear-gradient(90deg, transparent 0%,#000 200%), url('./images/door-texture.png');
            background-size: cover;
          }
          background: radial-gradient(transparent 40%,#222 92%), url('./images/door-texture.png');
          background-size: cover;
        }
        &.secret-door {
          &.side {
            background: linear-gradient(90deg, transparent 0%,#000 200%), url('./images/wall-texture.png');
            background-size: cover;
          }
          background: radial-gradient(transparent 40%,#222 92%), url('./images/wall-texture.png');
          background-size: cover;
        }
        &.grave {
          background: url('./images/grave-texture.png');
          background-size: cover;
        }
        &.chair {
          background: url('./images/chair-texture.png');
          background-size: cover;
        }
        &.water {
          background: linear-gradient(0deg, transparent 0%,#000 200%), darkblue;
        }
        &.sand {
          background: linear-gradient(0deg, transparent 0%,#000 200%), burlywood;
        }
        &.grass {
          background: linear-gradient(0deg, transparent 0%,#000 200%), forestgreen;
        }
        &.none {
          display: none
        }

        &.walls {
            width: 120px
            height: 120px
            top: 40px

          &.facing {
            &.player-0 {
              left: -80px;
              z-index: 4
            }
            &.player-1 {
              left: 40px
              z-index: 4
            }
            &.player-2 {
              left: 160px;
              z-index: 4
            }

            &.playerOneForward-0 {
              left: -27px;
              transform: scale(0.56)
              z-index: 2;
              filter: brightness(66%)
            }
            &.playerOneForward-1 {
              left: 40px
              transform: scale(0.56)
              z-index: 2;
              filter: brightness(66%)
            }
            &.playerOneForward-2 {
              left: 107px;
              transform: scale(0.56)
              z-index: 2;
              filter: brightness(66%)
            }

            &.playerTwoForward-0 {
              left: -48px;
              transform: scale(0.40)
              z-index: 0;
              filter: brightness(33%)
            }
            &.playerTwoForward-1 {
              left: -4px
              transform: scale(0.40)
              z-index: 0;
              filter: brightness(33%)
            }
            &.playerTwoForward-2 {
              left: 40px;
              transform: scale(0.40)
              z-index: 0;
              filter: brightness(33%)
            }
            &.playerTwoForward-3 {
              left: 88px;
              transform: scale(0.40)
              z-index: 0;
              filter: brightness(33%)
            }
            &.playerTwoForward-4 {
              left: 132px;
              transform: scale(0.40)
              z-index: 0;
              filter: brightness(33%)
            }
          }

          &.side {
            width: 120px
            height: 120px
            top: 40px
            &.player-0 {
              display: none;
            }
            &.player-1 {
              z-index: 5
              left: -20px
              transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(-60px)
            }
            &.player-2 {
              z-index: 5
              left: 100px
              transform: perspective(140px) rotate3d(0, 1, 0, 115deg) translateX(-60px)
            }

            &.playerOneForward-0 {
              left: -27px;
              display: none;
              filter: brightness(50%)
            }
            &.playerOneForward-1 {
              left: -20px
              transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(60px)
              filter: brightness(50%)
              z-index: 3
            }
            &.playerOneForward-2 {
              left: 100px;
              transform: perspective(140px) rotate3d(0,1,0,115deg) translateX(60px)
              filter: brightness(50%)
              z-index: 3
            }

            &.playerTwoForward-0 {
              left: -27px;
              display: none;
              filter: brightness(25%)
            }
            &.playerTwoForward-1 {
              left: -66px
              transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(160px)
              z-index: 1
              filter: brightness(25%)
            }
            &.playerTwoForward-2 {
              left: -20px;
              transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(160px)
              z-index: 1
              filter: brightness(25%)
            }
            &.playerTwoForward-3 {
              left: 100px;
              transform: perspective(140px) rotate3d(0,1,0,115deg) translateX(160px)
              z-index: 1
              filter: brightness(25%)
            }
            &.playerTwoForward-4 {
              left: 146px;
              transform: perspective(140px) rotate3d(0,1,0,115deg) translateX(160px)
              z-index: 1
              filter: brightness(25%)
            }
          }
        }

        &.floor{
          width: 120px;
          height: 120px;
          top: 100px;
          right: 40px;

          &.player-0 {
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(60px) translateX(-120px)
            z-index: 4;
          }
          &.player-1 {
            top: 100px;
            right: 40px;
            transform: perspective(100px) rotate3d(-1,0,0,-65deg) translateY(60px);
            z-index: 4;
          }
          &.player-2 {
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(60px) translateX(120px)
            z-index: 4;
          }

          &.playerOneForward-0 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px) translateX(-120px);
            filter: brightness(50%)
          }
          &.playerOneForward-1 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px);
            filter: brightness(50%)
          }
          &.playerOneForward-2 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px) translateX(120px);
            filter: brightness(50%)
          }

          &.playerTwoForwardRow-0 {
            z-index: 0;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(-240px);
            filter: brightness(25%)
          }
          &.playerTwoForwardRow-1 {
            z-index: 0;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(-120px);
            filter: brightness(25%)
          }
          &.playerTwoForwardRow-2 {
            z-index: 0;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px);
            filter: brightness(25%)
          }
          &.playerTwoForwardRow-3 {
            z-index: 0;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(120px);
            filter: brightness(25%)
          }
          &.playerTwoForwardRow-4 {
            z-index: 0;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(240px);
            filter: brightness(25%)
          }
        }
      }
    }
  }

  .encounter-info {
    display: flex
    flex-direction: column
    flex: 1

    .encounter-images {
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 10px
      align-items: flex-end

      .monster-disposition {
        width: 100px
        height: 100px
        &.fight{
          background-color: indianred
        }
        &.peace {
          background-color: darkseagreen
        }
        img {
          width: 100%
          height: 100%
        }
      }
      .monster-portrait {
        width: 150px
        height: 150px
        img {
          width: 100%
          height: 100%
        }
      }
      .monster-fight-info {
        width: 150px;
        height: 60px;
        background-color: #fff;
        padding: 10px;
        margin-left: 10px;

        p {
          margin: 0;
          font-size: 12px;
        }
      }
      .chest {
        width: 100px
        height: 100px
      }
    }
    .monster-list {
      height: 100px
      margin: 10px
      background-color: #fff
    }
  }
}