.expore-encounter{
  flex 2
  background-color: antiquewhite
  display: flex
  flex-direction: row

  .location-info {
    display: flex
    flex-direction: column
    .location-direction {
      margin: 10px
      text-align: center
      text-transform: capitalize;
    }

    .fps-view {
      width: 200px
      height: 200px
      margin: 10px
      background: linear-gradient(#bbb, #111 40%, #111 60%, #f69d3c)
      position: relative
      overflow: hidden

      .fps-square {
        position: absolute
        &.wall {
          background: radial-gradient(transparent 40%,#222 92%), url('./images/wall-texture.png');
          background-size: cover;
        }
        &.door {
          background: radial-gradient(transparent 40%,#222 92%), url('./images/door-texture.png');
          background-size: cover;
        }
        &.secret-door {
          background: radial-gradient(transparent 40%,#222 92%), url('./images/wall-texture.png');
          background-size: cover;
        }
        &.grave {
          background: url('./images/grave-texture.png');
          background-size: cover;
        }
        &.chair {
          background: url('./images/chair-texture.png');
          background-size: cover;
        }
        &.water {
          background: radial-gradient(transparent 63%,#444 115%), darkblue;
        }
        &.sand {
          background: radial-gradient(transparent 63%,#444 115%), burlywood;
        }
        &.grass {
          background: radial-gradient(transparent 63%,#444 115%), forestgreen;
        }
        &.none {
          display: none
        }

        &.walls {
          &.left {
            width: 120px
            height: 120px
            top: 40px
            left: -20px
            transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(-60px)
            z-index: 5
            &.forward {
              transform: perspective(140px) rotate3d(0, 1, 0, 65deg) translateX(60px)
              z-index: 3
            }
          }
          &.front {
            width: 120px
            height: 120px
            top: 40px
            left: 40px
            z-index: 4
            &.forward {
              transform: scale(0.52)
              z-index: 2;
            }
            &.forward-right {
              transform: scale(0.52)
              z-index: 2;
              left: 102px;
            }
            &.forward-left {
              transform: scale(0.52)
              z-index: 2;
              left: -22px;
            }
            &.front-left {
              left: -80px;
            }
            &.front-right {
              left: 160px;
            }
          }
          &.right {
            width: 120px
            height: 120px
            top: 40px
            right: -20px
            transform: perspective(140px) rotate3d(0, 1, 0, -65deg) translateX(60px)
            z-index: 5
            &.forward {
              transform: perspective(140px) rotate3d(0,1,0,-65deg) translateX(-60px)
              z-index: 3
            }
          }
        }

        &.floor{
          width: 120px;
          height: 120px;
          top: 100px;
          right: 40px;

          &.player-0 {
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(60px) translateX(-120px)
            z-index: 4;
          }
          &.player-1 {
            top: 100px;
            right: 40px;
            transform: perspective(100px) rotate3d(-1,0,0,-65deg) translateY(60px);
            z-index: 4;
          }
          &.player-2 {
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(60px) translateX(120px)
            z-index: 4;
          }

          &.playerOneForward-0 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px) translateX(-120px);
          }
          &.playerOneForward-1 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px);
          }
          &.playerOneForward-2 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-60px) translateX(120px);
          }

          &.playerTwoForwardRow-0 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(-240px);
          }
          &.playerTwoForwardRow-1 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(-120px);
          }
          &.playerTwoForwardRow-2 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px);
          }
          &.playerTwoForwardRow-3 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(120px);
          }
          &.playerTwoForwardRow-4 {
            z-index: 2;
            transform: perspective(120px) rotate3d(-1,0,0,-65deg) translateY(-180px) translateX(240px);
          }

        }

      }
    }
  }

  .encounter-info {
    display: flex
    flex-direction: column
    flex: 1

    .encounter-images {
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 10px
      align-items: flex-end

      .monster-disposition {
        width: 100px
        height: 100px
        &.fight{
          background-color: indianred
        }
        &.peace {
          background-color: darkseagreen
        }
        img {
          width: 100%
          height: 100%
        }
      }
      .monster-portrait {
        width: 150px
        height: 150px
        img {
          width: 100%
          height: 100%
        }
      }
      .monster-fight-info {
        width: 150px;
        height: 60px;
        background-color: #fff;
        padding: 10px;
        margin-left: 10px;

        p {
          margin: 0;
          font-size: 12px;
        }
      }
      .chest {
        width: 100px
        height: 100px
      }
    }
    .monster-list {
      height: 100px
      margin: 10px
      background-color: #fff
    }
  }
}