.global-controls {
  position: absolute
  top: 0
  right: 0
  display: flex;
  flex-direction: row;
  margin-right: 25px;

  .edit-level-controls {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 25px
    height: 25px
  }
}
