.explore-map {
  flex 3;
  background-color: black;

  .map-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

    background-color: grey;
    border-top 1px solid white;
    border-left 1px solid white;
    border-right 1px solid white;
    border-bottom 1px solid white;

    .map-square {
      width: 13px;
      height: 13px;
      border-left 1px solid transparent;
      border-top 1px solid transparent;
      color: red;
      font-size: 10px;

      .player-sprite {
        width: 13px;
        height: 13px;
        position: relative;
        bottom: 2px;
        right: 0px;

        &.east {
          transform: rotate(90deg);
        }

        &.south {
          transform: rotate(180deg);
        }

        &.west {
          transform: rotate(270deg);
        }
      }

      &.wall-left-none {
        border-left 1px solid black;
      }
      &.wall-left-wall {
        border-left 1px solid white;
      }
      &.wall-left-door {
        border-left 1px dashed lightgrey
      }
      &.wall-left-secret-door {
        border-left 1px solid white;
      }
      &.wall-left-grave {
        border-left 1px solid #999
      }
      &.wall-left-chair {
        border-left 1px solid brown
      }


      &.wall-top-none {
        border-top 1px solid black;
      }
      &.wall-top-wall {
        border-top 1px solid white;
      }
      &.wall-top-door {
        border-top 1px dashed lightgrey
      }
      &.wall-top-secret-door {
        border-top 1px solid white;
      }
      &.wall-top-grave {
        border-top 1px solid #999
      }
      &.wall-top-chair {
        border-top 1px solid brown
      }

      &.discovered-none {
        background-color: black;
      }
      &.discovered-water {
        background-color: cornflowerblue;
      }
      &.discovered-sand {
        background-color: burlywood;
      }
      &.discovered-grass {
        background-color: forestgreen;
      }

      &.edit-selected-tile {
        background-color: orange;
      }
    }
  }
}

.edit-screen-map {
  margin: auto 10px;
}