.edit-screen-edits {
    display: flex;
    flex-direction: row;

    .edit-screen-monster {
        flex: 1;

        label {
            width: 100px;
            display: inline-block;
        }
    }

    .edit-screen-monster-group {
        flex: 1;
    }

    .add-new-monster-button {
        width: 25px;
        height: 25px;
    }
}