.edit-screen-edits {
    display: flex;
    flex-direction: row;

    .edit-screen-monster {
        flex: 1;
    }

    .edit-screen-monster-group {
        flex: 1;
    }

    // .add-new-room-button {
    //     width: 25px;
    //     height: 25px;
    // }
}