html, body, #root, #root .App {
  height: 100%;
}

.explore-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .character-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    .party {
      height: 100px;
      background-color: mistyrose;
    }
  }
  
  .explore-pane {
    display: flex
    flex-direction: column
    flex: 2
  }
}

@require './components/CharacterInfoPanel';
@require './components/CharacterStats';
@require './components/DeathModal';
@require './components/EncounterPane';
@require './components/GlobalControls';
@require './components/InventoryPanel';
@require './components/MapPanel';
@require './components/MessagesPanel';